
/* sätter canvas boxen i mitten samt fyller 
helt skärmen */
body {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* för att det ska se likadant ut på alla datorer */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* canvas boxen/spelplan */
#canvas1 {
    background-color: lightgrey ;
    width: 1700px;
    height: 700px;
    border: 4px solid black;
}


